@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.go2392553372 {
  margin: auto !important;
}

button {
  display: block;
}
button:disabled {
  background-color: rgb(16, 212, 238);
  opacity: 0.5; /* Low opacity for disabled state */
  cursor: not-allowed;
}
